:root {
  --background: #231F20;
  --yellow: #FCE029;
  --blue: #0A75BC;
  --gray: #949699;
  --brown:#A87A51;
  --white: #f9f9fa;
}

body {
    margin: 0;
    font-family: 'Baumans', cursive;
}
  
code {
  font-family: 'Baumans', cursive;
}